html {
    height: 100%;
}

body {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    margin: 0;

    transition: background-color linear 0.1s;
}

#content {
    text-align: center;
}

#word {
    margin-bottom: 40px;
    font-size: 3em;
    font-weight: bold;
}

#input {
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
    width: 150px;

    background-color: rgba(255, 255, 255, 0.7);
    border: none;
}

#message {
    margin-bottom: 8px;
    font-size: 1.2em;

    opacity: 0;
    transition: opacity ease-out 0.2s;
}

#languages {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    width: 70px;
}

.selected {
    text-decoration: underline;
}